{%- capture include_id %}{% increment include_id_counter %}{%- endcapture %}
{%- assign tab_class = "tabs__prepare_repo__btn__" | append: include_id %}
{%- assign content_class = "tabs__prepare_repo__content__" | append: include_id %}
{%- assign content_id_unix = "tabs__prepare_repo__macos_linux__" | append: include_id %}
{%- assign content_id_windows = "tabs__prepare_repo__windows__" | append: include_id %}

<div class="tabs">
<a href="javascript:void(0)" class="tabs__btn {{ tab_class }} active" onclick="openTab(event, '{{ tab_class }}', '{{ content_class }}', '{{ content_id_unix }}')">Linux / macOS</a>
<a href="javascript:void(0)" class="tabs__btn {{ tab_class }}" onclick="openTab(event, '{{ tab_class }}', '{{ content_class }}', '{{ content_id_windows }}')">Windows</a>
</div>

<div id="{{ content_id_windows }}" class="tabs__content {{ content_class }}" markdown="1">

Run the following commands in PowerShell:

```powershell
{%- if include.from_scratch %}
# Clone the example repository to ~/werf-guide/guides (if you have not cloned it yet).
if (-not (Test-Path ~/werf-guide/guides)) {
  git clone https://github.com/werf/website $env:HOMEPATH/werf-guide/guides
}

# Copy the (unchanged) application files to ~/werf-guide/app.
rm -Recurse -Force ~/werf-guide/app
cp -Recurse -Force ~/werf-guide/guides/{{ include.examples_from }} ~/werf-guide/app

# Make the ~/werf-guide/app directory a git repository.
cd ~/werf-guide/app
git init
git add .
git commit -m initial
{%- else %}
cd ~/werf-guide/app
{%- endif %}
{%- if include.no_changes %}
```
{%- else %}

# To see what changes we will make later in this chapter, let's replace all the application files
# in the repository with new, modified files containing the changes described below.
git rm -r .
cp -Recurse -Force ~/werf-guide/guides/{{ include.examples_to }}/* .
git add .
git commit -m WIP
```

{% offtopic title="What changes we will make" %}
```shell
# Enter the command below to show the files we are going to change.
git show --stat
# Enter the command below to show the changes that will be made.
git show
```
{% endofftopic %}
{%- endif %}
</div>

<div id="{{ content_id_unix }}" class="tabs__content {{ content_class }} active" markdown="1">

Run the following commands in Bash:

```shell
{%- if include.from_scratch %}
# Clone the example repository to ~/werf-guide/guides (if you have not cloned it yet).
test -e ~/werf-guide/guides || git clone https://github.com/werf/website ~/werf-guide/guides

# Copy the (unchanged) application files to ~/werf-guide/app.
rm -rf ~/werf-guide/app
cp -rf ~/werf-guide/guides/{{ include.examples_from }} ~/werf-guide/app

# Make the ~/werf-guide/app directory a git repository.
cd ~/werf-guide/app
git init
git add .
git commit -m initial
{%- else %}
cd ~/werf-guide/app
{%- endif %}
{%- if include.no_changes %}
```
{%- else %}

# To see what changes we will make later in this chapter, let's replace all the application files
# in the repository with new, modified files containing the changes described below.
git rm -r .
cp -rf ~/werf-guide/guides/{{ include.examples_to }}/. .
git add .
git commit -m WIP
```

{% offtopic title="What changes we will make" %}
```shell
# Enter the command below to show files we are going to change.
git show --stat
# Enter the command below to show the changes that will be made.
git show
```
{% endofftopic %}
{%- endif %}
</div>
