{%- assign examples_to_parts_rev = include.examples_to | split: "/" | reverse %}
{%- assign examples_to_basename = examples_to_parts_rev[0] %}

{%- assign examples_from_parts = include.examples_from | split: "/" %}

{%- assign unique_id_slug = include.examples_from | append: include.examples_to | append: include.from_scratch | slugify %}

<div class="tabs">
<a href="javascript:void(0)" class="tabs__btn tabs__prepare_repo__btn active" onclick="openTab(event, 'tabs__prepare_repo__btn', 'tabs__prepare_repo__content', 'tabs__prepare_repo__macos_linux__{{ unique_id_slug }}')">Linux / macOS</a>
<a href="javascript:void(0)" class="tabs__btn tabs__prepare_repo__btn" onclick="openTab(event, 'tabs__prepare_repo__btn', 'tabs__prepare_repo__content', 'tabs__prepare_repo__windows__{{ unique_id_slug }}')">Windows</a>
</div>

<div id="tabs__prepare_repo__windows__{{ unique_id_slug }}" class="tabs__content tabs__prepare_repo__content" markdown="1">

Выполним следующий набор команд в PowerShell:

```powershell
{%- if include.from_scratch %}
# Склонируем репозиторий с примерами в ~/werf-guide/guides, если он ещё не был склонирован
if (-not (Test-Path ~/werf-guide/guides)) {
  git clone https://github.com/werf/werf-guides $env:HOMEPATH/werf-guide/guides
}

# Скопируем файлы приложения (пока без изменений) в ~/werf-guide/app
rm -Recurse -Force ~/werf-guide/app
cp -Recurse -Force ~/werf-guide/guides/{{ include.examples_from }} ~/werf-guide/app

# Сделаем из директории ~/werf-guide/app git-репозиторий
cd ~/werf-guide/app
git init
git add .
git commit -m initial
{% endif %}
# Чтобы увидеть, какие изменения мы собрались вносить далее в этой главе, заменим все файлы приложения
# в репозитории новыми, уже измененными файлами приложения, которые содержат описанные далее изменения.
{%- if include.from_scratch == false %}
cd ~/werf-guide/app
{%- endif %}
git rm -r .
cp -Recurse -Force ~/werf-guide/guides/{{ include.examples_to }}/* .
git add .
git commit -m WIP
```

Опционально:
```shell
# Показать, какие файлы мы собираемся изменить
git show --stat

# Показать, какие именно изменения мы произведём
git show
```
</div>

<div id="tabs__prepare_repo__macos_linux__{{ unique_id_slug }}" class="tabs__content tabs__prepare_repo__content active" markdown="1">

Выполним следующий набор команд в Bash:

```shell
{%- if include.from_scratch %}
# Склонируем репозиторий с примерами в ~/werf-guide/guides, если он ещё не был склонирован
test -e ~/werf-guide/guides || git clone https://github.com/werf/werf-guides ~/werf-guide/guides

# Скопируем файлы приложения (пока без изменений) в ~/werf-guide/app
rm -rf ~/werf-guide/app
cp -rf ~/werf-guide/guides/{{ include.examples_from }} ~/werf-guide/app

# Сделаем из директории ~/werf-guide/app git-репозиторий
cd ~/werf-guide/app
git init
git add .
git commit -m initial
{% endif %}
# Чтобы увидеть, какие изменения мы собрались вносить далее в этой главе, заменим все файлы приложения
# в репозитории новыми, уже измененными файлами приложения, которые содержат описанные далее изменения.
{%- if include.from_scratch == false %}
cd ~/werf-guide/app
{%- endif %}
git rm -r .
cp -rfT ~/werf-guide/guides/{{ include.examples_to }} .
git add .
git commit -m WIP
```

Опционально:
```shell
# Показать, какие файлы мы собираемся изменить
git show --stat

# Показать, какие именно изменения мы произведём
git show
```
</div>
