{%- assign examples_to_parts_rev = include.examples_to | split: "/" | reverse %}
{%- assign examples_to_basename = examples_to_parts_rev[0] %}
{%- assign framework_id = examples_to_parts_rev[1] %}

{%- assign examples_from_parts = include.examples_from | split: "/" %}

{%- assign unique_id_slug = include.examples_from | append: include.examples_to | slugify %}

<div class="tabs">
<a href="javascript:void(0)" class="tabs__btn tabs__prepare_repo__btn" onclick="openTab(event, 'tabs__prepare_repo__btn', 'tabs__prepare_repo__content', 'tabs__prepare_repo__windows__{{ unique_id_slug }}')">Windows</a>
<a href="javascript:void(0)" class="tabs__btn tabs__prepare_repo__btn" onclick="openTab(event, 'tabs__prepare_repo__btn', 'tabs__prepare_repo__content', 'tabs__prepare_repo__macos_linux__{{ unique_id_slug }}')">macOS/Linux</a>
</div>

<div id="tabs__prepare_repo__windows__{{ unique_id_slug }}" class="tabs__content tabs__prepare_repo__content" markdown="1">
```powershell
{%- if include.from_scratch %}
# Склонируем репозиторий с примерами в ~/werf-guides-{{ framework_id }}/werf-guides, если он ещё не был склонирован
if (-not (Test-Path "~/werf-guides-{{ framework_id }}/werf-guides")) {
  git clone "https://github.com/werf/werf-guides" "$env:HOMEPATH/werf-guides-{{ framework_id }}/werf-guides"
}

# Скопируем файлы приложения (пока без изменений) в ~/werf-guides-{{ framework_id }}/{{ examples_to_basename }}
cd "~/werf-guides-{{ framework_id }}"
if (Test-Path "{{ examples_to_basename }}") {
  rm -Recurse -Force "{{ examples_to_basename }}"
}
cp -Recurse -Force "werf-guides/{{ include.examples_from }}" "{{ examples_to_basename }}"

# Сделаем из директории ~/werf-guides-{{ framework_id }}/{{ examples_to_basename }} git-репозиторий
cd "~/werf-guides-{{ framework_id }}/{{ examples_to_basename }}"
git init
git add .
git commit -m "initial"
{% endif %}
# Чтобы увидеть, какие изменения мы собрались вносить далее в этой главе, заменим все файлы приложения
# в репозитории новыми, уже измененными файлами приложения, которые содержат описанные далее изменения.
git rm -r .
cp -Recurse -Force "../werf-guides/{{ include.examples_to }}/*" .
git add .
git commit -m "WIP"
```

Опционально:
```shell
# Показать, какие файлы мы собираемся изменить
git show --stat

# Показать, какие именно изменения мы произведём
git show
```
</div>

<div id="tabs__prepare_repo__macos_linux__{{ unique_id_slug }}" class="tabs__content tabs__prepare_repo__content" markdown="1">
```shell
{%- if include.from_scratch %}
# Склонируем репозиторий с примерами в ~/werf-guides-{{ framework_id }}/werf-guides, если он ещё не был склонирован
test -d "~/werf-guides-{{ framework_id }}/werf-guides" || git clone "https://github.com/werf/werf-guides" "~/werf-guides-{{ framework_id }}/werf-guides"

# Скопируем файлы приложения (пока без изменений) в ~/werf-guides-{{ framework_id }}/{{ examples_to_basename }}
cd "~/werf-guides-{{ framework_id }}"
rm -rf "{{ examples_to_basename }}"
cp -rf "werf-guides/{{ include.examples_from }}" "{{ examples_to_basename }}"

# Сделаем из директории ~/werf-guides-{{ framework_id }}/{{ examples_to_basename }} git-репозиторий
cd "~/werf-guides-{{ framework_id }}/{{ examples_to_basename }}"
git init
git add .
git commit -m "initial"
{% endif %}
# Чтобы увидеть, какие изменения мы собрались вносить далее в этой главе, заменим все файлы приложения
# в репозитории новыми, уже измененными файлами приложения, которые содержат описанные далее изменения.
git rm -r .
cp -rf --no-target-directory "../werf-guides/{{ include.examples_to }}" .
git add .
git commit -m "WIP"
```

Опционально:
```shell
# Показать, какие файлы мы собираемся изменить
git show --stat

# Показать, какие именно изменения мы произведём
git show
```
</div>
